{% extends 'base.html.twig' %}

{% block header %}
    <a href="{{ path('app_stagiaire_dashboard') }}" class="nav-item btn" style="background-color: #FFDAB9;margin-right: 10px;">Menu</a>
    <a href="{{ path('app_stagiaire_show', { 'id': stagiaire.id }) }}" class="nav-item btn" style="background-color: #FFDAB9;margin-right: 10px;">Mon compte</a>
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mb-4">Bonjour {{ stagiaire.prenom }} ! <i class="bi bi-emoji-smile text-warning"></i></h2>

        <div class="row">
            {# Stages en cours ou à venir #}
            <div class="col-md-6">
                <div class="card overflow-auto">
                    <div class="card-header text-center">
                        Stages en cours ou à venir
                    </div>
                    <div class="list-group">
                        {% for stage in stagesPrevu %}
                            <a href="{{ path('app_stage_show_participant', {'id': stage.id}) }}" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1">{{ stage.libelle }}</h6>
                                </div>
                                <p>Date de début : {{ stage.dateDebut ? stage.dateDebut|date('d-m-Y') : '' }}</p>
                                <p>Date de fin : {{ stage.dateFin ? stage.dateFin|date('d-m-Y') : '' }}</p>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                {# Accès à la liste des stages disponibles #}
{#                <div class="card">#}
{#                    <div class="card-header text-center">#}
{#                        Stages disponibles#}
{#                    </div>#}
{#                    <a href="#" class="btn btn-sm" style="background-color: #FFDAB9;">Chercher un stage</a>#}
{#                </div>#}

                {# Stages passés #}
                <div class="card">
                    <div class="card-header text-center">
                        Stages passés
                    </div>
                    <div class="list-group">
                        {% for stage in stagesPasse %}
                            <a href="{{ path('app_stage_show_participant', {'id': stage.id}) }}" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1">{{ stage.libelle }}</h6>
                                </div>
                                <p>Date de fin : {{ stage.dateFin ? stage.dateFin|date('d-m-Y') : '' }}</p>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}
