{% extends 'base.html.twig' %}
{% block header %}
    <a href="{{ path('app_admin_dashboard') }}" class="nav-item btn" style="background-color: #FFDAB9;margin-right: 10px;">Menu</a>
    <a href="{{ path('app_professeur_index') }}" class="nav-item btn" style="background-color: #FFDAB9;margin-right: 10px;">Gestion des professeurs</a>
    <a href="{{ path('app_stagiaire_index') }}" class="nav-item btn" style="background-color: #FFDAB9;margin-right: 10px;">Gestion des stagiaires</a>
    <a href="{{ path('app_matiere_index') }}" class="nav-item btn" style="background-color: #FFDAB9;margin-right: 10px;">Gestion des matières</a>
    <a href="{{ path('app_stage_index') }}" class="nav-item btn" style="background-color: #FFDAB9;margin-right: 10px;">Gestion des stages</a>
{% endblock %}
{% block body %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Date d'inscription</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for stagiaire in stagiaires %}
                <tr>
                    <td>{{ stagiaire.nom }}</td>
                    <td>{{ stagiaire.prenom }}</td>
                    <td>{{ stagiaire.adresse }}</td>
                    <td>{{ stagiaire.codePostal }}</td>
                    <td>{{ stagiaire.ville }}</td>
                    <td>{{ stagiaire.dateInscription ? stagiaire.dateInscription|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ stagiaire.email }}</td>
                    <td>
                        <a href="{{ path('app_stagiaire_edit', {'id': stagiaire.id}) }}" class="btn btn-outline-dark m-2">Modifier</a>
                        {{ include('stagiaire/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">Pas de stagiaires inscrits à la plateforme</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
