{% extends 'base.html.twig' %}
{% block header %}
    <a href="{{ path('app_stagiaire_dashboard') }}" class="nav-item btn" style="background-color: #FFDAB9;margin-right: 10px;">Menu</a>
{% endblock %}
{% block body %}
<div class="container">
    <h2 class="mb-4 text-center">Mes informations</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ stagiaire.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ stagiaire.prenom }}</td>
            </tr>

            {% if stagiaire.adresse %}
                <tr>
                    <th>Adresse</th>
                    <td>{{ stagiaire.adresse }}</td>
                </tr>
            {% else %}
                <tr class="table-warning">
                    <th>Adresse</th>
                    <td>A définir</td>
                </tr>
            {% endif %}

            {% if stagiaire.codePostal %}
                <tr>
                    <th>Code postal</th>
                    <td>{{ stagiaire.codePostal }}</td>
                </tr>
            {% else %}
                <tr class="table-warning">
                    <th>Code postal</th>
                    <td>A définir</td>
                </tr>
            {% endif %}

            {% if stagiaire.ville %}
                <tr>
                    <th>Ville</th>
                    <td>{{ stagiaire.ville }}</td>
                </tr>
            {% else %}
                <tr class="table-warning">
                    <th>Ville</th>
                    <td>A définir</td>
                </tr>
            {% endif %}

            <tr>
                <th>Email</th>
                <td>{{ stagiaire.email }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_stagiaire_edit', {'id': stagiaire.id}) }}" class="btn btn-outline-dark">Modifier</a>
</div>
    <hr class="m-4">
    <div class="d-flex justify-content-center">
        {{ include('stagiaire/_delete_form.html.twig') }}
    </div>
{% endblock %}
