{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2 class="text-center">Modification des données personnelles</h2>
        <div>
            {{ form_start(form) }}
                {{ form_row(form.matricule, {
                    'attr': {'readonly': 'readonly'},
                    'label': 'Matricule (non modifiable)'
                }) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.prenom) }}
                {{ form_row(form.email) }}
                {{ form_row(form.matiere) }}
            <button class="btn btn-outline-dark">{{ button_label|default('Sauvegarder') }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
