{% extends 'base.html.twig' %}
{% block header %}
    <a href="{{ path('app_admin_dashboard') }}" class="nav-item btn" style="background-color: #FFDAB9;margin-right: 10px;">Menu</a>
    <a href="{{ path('app_professeur_index') }}" class="nav-item btn" style="background-color: #FFDAB9;margin-right: 10px;">Gestion des professeurs</a>
    <a href="{{ path('app_stagiaire_index') }}" class="nav-item btn" style="background-color: #FFDAB9;margin-right: 10px;">Gestion des stagiaires</a>
    <a href="" class="nav-item btn" style="background-color: #FFDAB9;margin-right: 10px;">Gestion des cours et stages</a>
{% endblock %}
{% block body %}
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Matricule</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for professeur in professeurs %}
            <tr>
                <td>{{ professeur.matricule }}</td>
                <td>{{ professeur.nom }}</td>
                <td>{{ professeur.prenom }}</td>
                <td>{{ professeur.email }}</td>
                <td>
                    <a href="{{ path('app_professeur_edit', {'id': professeur.id}) }}" class="btn btn-outline-dark m-1">Modifier</a>
                    {{ include('professeur/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas de professeurs inscrits sur la plateforme</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
