{% extends 'base.html.twig' %}
{% block header %}
    <a href="{{ path('app_admin_dashboard') }}" class="nav-item btn" style="background-color: #FFDAB9;margin-right: 10px;">Menu</a>
    <a href="{{ path('app_stage_index') }}" class="nav-item btn" style="background-color: #FFDAB9;margin-right: 10px;">Retour à la liste</a>
{% endblock %}
{% block body %}
    <div class="container">
        <table class="table">
            <tbody>
            <tr>
                <th>Code stage</th>
                <td>{{ stage.codeStage }}</td>
            </tr>
            <tr>
                <th>Libellé</th>
                <td>{{ stage.libelle }}</td>
            </tr>
            <tr>
                <th>Description du stage</th>
                <td>{{ stage.description }}</td>
            </tr>
            <tr>
                <th>Date de début</th>
                <td>{{ stage.dateDebut ? stage.dateDebut|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{{ stage.dateFin ? stage.dateFin|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Matières</th>
                <td>
                    {{ matieres|join(", ") }}
                </td>
            </tr>
            <tr>
                <th>Professeurs</th>
                <td>
                    {{ professeurs|join(", ") }}
                </td>
            </tr>
            <tr>
                <th>Stagiaires</th>
                <td>
                    {{ stagiaires|join(", ") }}
                </td>
            </tr>
            </tbody>
        </table>

        <div class="">
            <a href="{{ path('app_stage_edit', {'id': stage.id}) }}" class="btn btn-outline-dark mb-2">Modifier</a>
            <a href="{{ path('app_stage_participant', {'id': stage.id}) }}" class="btn btn-outline-dark mb-2">Ajouter des participants</a>
            {{ include('stage/_delete_form.html.twig') }}
        </div>

    </div>


{% endblock %}
